@import "fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply scroll-smooth font-sans antialiased;
}

.aim-bg {
  background: radial-gradient(100% 225% at 0% 0%, #de3e3e 0%, #17115c 100%),
    radial-gradient(100% 225% at 100% 0%, #ff9040 0%, #ff0000 100%),
    linear-gradient(180deg, #ce63b7 0%, #ed6283 100%),
    radial-gradient(100% 120% at 75% 0%, #a74600 0%, #000000 100%),
    linear-gradient(310deg, #0063d8 0%, #16009a 50%);
  background-blend-mode: overlay, color-dodge, color-burn, color-dodge, normal;
}

.lightbox_img {
  @apply rounded-xl;
}

.scroll-to-top {
  @apply fixed bottom-10 right-10 z-10 cursor-pointer rounded-full border-none bg-black p-2 text-white drop-shadow-xl dark:bg-white  dark:text-black;
}

.scroll-to-top:active {
  transform: matrix(0.95, 0, 0, 0.95, 0, 0);
}

.heart {
  font-size: 150px;

  animation: beat 0.25s infinite alternate;
  transform-origin: center;
}

/* Heart beat animation */
@keyframes beat {
  to {
    transform: scale(1.2);
  }
}
